@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container mt-5">
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card px-5 py-5" id="form1">
            <div class="form-data">
                <form method="post" asp-controller="Account" asp-action="ChangePassword">
                    <div class="forms-inputs mb-4">
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="forms-inputs mb-4">
                        <label asp-for="NewPassword"></label>
                        <input type="password" asp-for="NewPassword"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="forms-inputs mb-4">
                        <label asp-for="ConfirmPassword"></label>
                        <input type="password" asp-for="ConfirmPassword"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3"><button type="submit" class="btn btn-primary w-100">Change Password</button></div>
                    <div class="mb-3"><button type="button" class="btn btn-danger w-100" onclick="exitEditPassword()">Cancel</button></div>
                </form>
            </div>
        </div>
    </div>
</div>    
</div>