@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="text-center">
    <h1 class="display-4">
        @{
            if (User.Identity != null)
            {
                @User.Identity.Name
            }
        }
    </h1>
    <h4>Change Password</h4>
    <form method="post" asp-controller="Account" asp-action="ChangePassword">
        <label class="col-form-label" asp-for="Password"></label>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <br/>
        <label class="col-form-label" asp-for="NewPassword"></label>
        <input type="password" asp-for="NewPassword"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <br/>
        <label class="col-form-label" asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br/>
        <button type="button" class="btn btn-danger m-2" onclick="exitEditPassword()">Cancel</button>
        <button type="submit" class="btn btn-primary m-2">Change Password</button>
    </form>
    
</div>