@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login Here</h1>
    @{
        if (TempData["Message"]!=null)
        {
            <h3 class="text-info">@TempData["Message"]</h3>
        }
    }
    
    <form method="post" asp-action="Login">
        <label class="col-form-label" asp-for="Username"></label>
        <input type="text" asp-for="Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>
        <label class="col-form-label" asp-for="Password"></label>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <label class="col-form-label" asp-for="RememberMe"></label>
        <input type="checkbox" asp-for="RememberMe"/>
        <span asp-validation-for="RememberMe" class="text-danger"></span>
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
        <input type="submit" name="Login" value="Log In"/>
    </form>
</div>