@model QuoteModel

@{
    ViewBag.Title = "Add Quote";
}
<div class="text-center">
<h1 class="display-4">@ViewBag.Title</h1>
    <form method="post" asp-controller="ManageQuotes" asp-action="Add">
        <label class="col-form-label" asp-for="Author"></label>
        <input type="text" asp-for="Author"/>
        <span asp-validation-for="Author" class="text-danger"></span>
        <br/>
        <label class="col-form-label" asp-for="Quote"></label><br/>
        <textarea asp-for="Quote" rows="4" cols="40"></textarea><br/>
        <span asp-validation-for="Quote" class="text-danger"></span>
        <br/>
        <input type="submit" class="btn btn-primary m-2" value="Add quote"/>
        <br/>
        <button type="button" class="btn btn-secondary m-2" onclick="location.href='/ManageQuotes'">Cancel</button>
</form>
</div>