@model QuoteModel

@{
    ViewBag.Title = "Edit Quote";
}
<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <form method="post" asp-controller="ManageQuotes" asp-action="Edit">
        <label class="col-form-label" asp-for="Author"></label>
        <input type="text" asp-for="Author"/>
        <span asp-validation-for="Author" class="text-danger"></span>
        <br/>
        <label class="col-form-label" asp-for="Quote"></label><br/>
        <textarea asp-for="Quote" rows="4" cols="40"></textarea><br/>
        <span asp-validation-for="Quote" class="text-danger"></span>
        <br/>
        <div id="hiddenData">
            @Html.HiddenFor(model => model.QuoteId)
            @Html.AntiForgeryToken()
        </div>
        <input type="submit" class="btn btn-primary m-2" value="Save changes"/>
        <button type="button" class="btn btn-danger m-2" onclick="deleteQuote()">Delete quote</button>
        <br/>
        <button type="button" class="btn btn-secondary m-2" onclick="location.href='/ManageQuotes'">Cancel</button>
</form>
</div>